/Carthage/Build/.socket.io-client-swift.version
/Carthage/Build/iOS/10B9D1F4-D7AF-3827-B88D-D905926191E3.bcsymbolmap
/Carthage/Build/iOS/49E3A67C-FCCA-3BC0-A399-EB6DB80203CA.bcsymbolmap
/Carthage/Build/iOS/SocketIO.framework
/Carthage/Build/iOS/SocketIO.framework.dSYM
/Carthage/Build/Mac/SocketIO.framework
/Carthage/Build/Mac/SocketIO.framework.dSYM
/Carthage/Build/tvOS/D169F76E-94CD-3037-99AD-EBBF84E2A9D6.bcsymbolmap
/Carthage/Build/tvOS/SocketIO.framework
/Carthage/Build/tvOS/SocketIO.framework.dSYM
/Carthage/Checkouts/socket.io-client-swift
/Examples/iOS_Swift_Cocoapods/Pods
/Examples/iOS_Swift_Cocoapods/LocalizationKit.xcworkspace
/Examples/iOS_Swift_Carthage
/Carthage
/Examples/iOS_ObjectiveC_Cocoapods/Pods
/Examples/iOS_ObjectiveC_Cocoapods/iOS_ObjectiveC_Cocoapods.xcworkspace
/LocalizationKit.xcworkspace/xcuserdata/Keytree20.xcuserdatad/UserInterfaceState.xcuserstate
